@model IEnumerable<Projecto.Models.MensajesViewModel>

@{ 
    Layout = "_Layout";
}


@foreach (var item in Model) {
<ul>
    <li>
        <b>@Html.DisplayFor(modelItem => item.Emisor)</b>
    </li>
    @if (item.Archivo == false) {
<li>
    @Html.DisplayFor(modelItem => item.Cuerpo)
</li>}
    @if (item.Archivo == true) {
<li>
    @Html.DisplayFor(modelItem => item.NombreArchivo)
</li>}

    <li>
        @Html.DisplayFor(modelItem => item.Date)
    </li>
    <td>

        @if (item.Emisor == ViewData["NickName"].ToString()) {
@Html.ActionLink("Borrar para todos", "BorrarGLobal", new { id = item.Id })                }
        @Html.ActionLink("Borrar para mi", "Borrar", new { id = item.Id })
        @if (item.Archivo == true) {
@Html.ActionLink("Descargar", "Descargar_archivo", new { id = item.NombreArchivo })                }
    </td>
</ul>}
<form asp-controller="Mensajes" asp-action="NuevoMensaje" method="post">
    <center>
        <input type="text" width="800" name="texto" class="form-control" />
        <button type="submit" class="btn btn-gray-800 d-inline-flex align-items-center me-2">Enviar mensaje</button>
    </center>

</form>
<form asp-controller="Mensajes" asp-action="UploadFile" method="post" enctype="multipart/form-data">
    <div>

        <h5>Archivo: <input type="file" name="Archivo" class="form-control" /></h5>
        <center><button type="submit" class="btn btn-gray-800 d-inline-flex align-items-center me-2">Enviar archivo</button></center>

    </div>
</form>

