@model Tuple<List<MensajesViewModel>, int>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap">
    <link rel="stylesheet" type="text/css" href="~/css/styleContactos.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>Mensajes</title>
</head>
<body style='background-image: url(@Url.Content("~/img/liso2.jpg")); background-repeat: no-repeat; background-size: cover;'>
    <p>
        <a asp-action="Index" asp-controller="Menu" class="text-black">Regresar al menú</a>
    </p>


    @foreach (var item in Model.Item1)
    {
        <ul>
            <li>
                <b>@Html.DisplayFor(modelItem => item.Emisor)</b>
            </li>
            @if (item.Archivo == false)
            {
                <li>
                    @Html.DisplayFor(modelItem => item.Cuerpo)
                </li>
            }
            @if (item.Archivo == true)
            {
                <li>
                    @Html.DisplayFor(modelItem => item.NombreArchivo)
                </li>
            }

            <li>
                @Html.DisplayFor(modelItem => item.Date)
            </li>
 

                @if (item.Emisor ==(string) ViewData["NickName"])
                {
                    @Html.ActionLink("Borrar para todos", "BorrarGLobal", new { id = item.Id }, new { i=Model.Item2})
                }
                @Html.ActionLink("Borrar para mi", "Borrar", new { id = item.Id }, new { i = Model.Item2 })
                @if (item.Archivo == true)
                {
                    @Html.ActionLink("Descargar", "Descargar_archivo", new { id = item.NombreArchivo }, new { i = Model.Item2 })
                }
  
        </ul>
    }
    <form asp-controller="Mensajes" asp-action="NuevoMensaje" method="post">
        <center>
            <input  class="form-control" type="text" width="800" name="texto" />
            <input  class="form-control" value=Model.item2 width="800" name="i" hidden />
            <button class="btn btn-gray-800" type="submit"><i class="fas fa-paper-plane"></i></button>
        </center>

    </form>
    <form asp-controller="Mensajes" asp-action="UploadFile" method="post" enctype="multipart/form-data">
        <div>

            <h5>Archivo: <input type="file" name="Archivo" /></h5>
            <input  class="form-control" value=Model.item2 width="800" name="i" hidden />
            <center><button class="btn btn-gray-800" type="submit">Enviar archivo</button></center>

        </div>
    </form>
    <script>
        setTimeout(function () {
            window.location.reload(1);
        }, 10000);

    </script>
</body>
</html>
