@model Tuple<List<List<MensajesViewModel>>,string>

@{
    Layout = null;
    List<string> ParaGrupos = (List<string>)ViewData["ParaGrupos"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap">
    <link rel="stylesheet" type="text/css" href="~/css/styleContactos.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <title>Mensajes</title>
</head>
<body style='background-image: url(@Url.Content("~/img/liso2.jpg")); background-repeat: no-repeat; background-size: cover;'>
    <p>
        <a asp-action="Index" asp-controller="Menu" class="text-black">Regresar al menú</a>
    </p>

    @{
        string ruta = "";
        for (int i = 0; i < ParaGrupos.Count; i++)
        {
            ruta = "http://localhost:61798/Mensajes/Index/" + ParaGrupos[i];
        }

    }
    
    @foreach (var item in Model.Item1)
    {@foreach (var cosa in item)
        {
            <ul>
                <li>
                    <b>@Html.DisplayFor(modelItem => cosa.Emisor)</b>
                </li>
                @if (cosa.Archivo == false)
                {
                    <li>
                        @Html.DisplayFor(modelItem => cosa.Cuerpo)

                    </li>
                }
                @if (cosa.Archivo == true)
                {
                    <li>
                        @Html.DisplayFor(modelItem => cosa.NombreArchivo)
                    </li>
                }

                <li>
                    @Html.DisplayFor(modelItem => cosa.Date)
                </li>


                @if (cosa.Emisor == (string)ViewData["NickName"])
                {
                    @Html.ActionLink("Borrar para todos", "BorrarGLobalG", new { id = cosa.Id, i = cosa.Grupo })
                }
                @Html.ActionLink("Borrar para mi", "BorrarG", new { id = cosa.Id, i = cosa.Grupo })
                @if (cosa.Archivo == true)
                {
                    @Html.ActionLink("Descargar", "Descargar_archivoG", new { id = cosa.NombreArchivo, i = cosa.Grupo })
                }

            </ul>
        }
}
    <form asp-controller="Mensajes" asp-action="NuevoMensajeGrupo" method="post">
        <center>
            <input  class="form-control" type="text" width="800" name="texto" />
            @{string valor = Model.Item2; }
            <input  class="form-control" value=@valor width="800" name="i" hidden />
            <button class="btn btn-gray-800" type="submit"><i class="fas fa-paper-plane"></i></button>
        </center>

    </form>
    <form asp-controller="Mensajes" asp-action="UploadFileG" method="post" enctype="multipart/form-data">
        <div>

            <h5>
                Archivo:
                <input  class="form-control" type="file" name="Archivo" />
                @{string valor2 = Model.Item2; }
                <input  class="form-control" value=@valor2 width="800" name="i" hidden />
            </h5>
            <center><button class="btn btn-gray-800" type="submit">Enviar archivo</button></center>


        </div>
    </form>
    <script>
        setTimeout(function () {
            window.location.reload(1);
        }, 20000);

    </script>
</body>
</html>
